{% extends "layout.html" %}
{% set active_page = "about" %}
{% block body %}
    <h2>About</h2>
    <div class="entries">
    <ul>
        <li>Project: <a href="https://github.com/wnereiz/pxeat/" target="_blank">Home Page (Github)</a></li>
        <li>License: <a href="http://www.gnu.org/licenses/gpl-3.0-standalone.html" target="_blank">GPLv3</a></li>
    </ul>
    Developed with the <a href="http://flask.pocoo.org/" target="_blank">Flask</a> framework and <a href="https://www.python.org/" target="_blank">Python</a> programming language.
    </div>
{% endblock %}
